# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
src/assets/AdminLTE-3.0.0-alpha/.gitignore
src/assets/AdminLTE-2.4.3/bower_components/Flot/FAQ.md
src/assets/AdminLTE-2.4.3
src/assets/AdminLTE-2.4.3/bower_components/Flot/.travis.yml
src/assets/AdminLTE-2.4.3/LICENSE
src/assets/AdminLTE-2.4.3/bower_components/Flot/.gitignore
src/assets/AdminLTE-2.4.3/bower_components/Flot/.bower.json